@page
@model SistemaFolha.Pages.Funcionarios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Cargo.NomeCargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.DataNasc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.DataNasc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.DataAdmissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.DataAdmissao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Instituicao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Instituicao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Agencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Agencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.ContaCorrente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.ContaCorrente)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Funcionario.FuncionarioId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
